name: Renovate

on:
  workflow_dispatch:
  schedule:
    - cron: "5 4 * * *"

jobs:
  renovate:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v6

      - name: Run Renovate
        uses: renovatebot/github-action@v44.0.5
        env:
          RENOVATE_REPOSITORIES: ${{ github.repository }}
          RENOVATE_USERNAME: "renovate[bot]"
          LOG_LEVEL: debug
        with:
          token: ${{ secrets.RENOVATE_TOKEN }}
          configurationFile: "renovate.json"
